:root {
  --font-family2: 'Raleway', sans-serif;
  --color1: #2196f3;
  --color2: #212121;
  --color3: #188ce8;
  --color4: #ffffff;
  --color5: #2f303a;
  --color6: #757575;
  --color7: #f5f4fa;
  --color8: #afb1b8;
  --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-gap: 30px;
  --leaving-text: rgba(33, 150, 243, 0.9);
  --transform-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header {
  border-bottom: 1px solid #ececec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color6);
  font-size: 14px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*---------------HEADER (INDEX & PORTFOLIO)----------------*/
/* --------------BOX---------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 2px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-header {
  display: flex;
  margin-left: 93px;
}

.site-header .item:not(:last-child) {
  margin-right: 50px;
}

.site-header .header-link .header-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.contact-header {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
}

.contact-header .item + .item {
  margin-left: 50px;
}

/* --------------BOX---------------- */

.header-logotip {
  text-decoration: none;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color1);
}

.header-logotip-two {
  color: #000000;
}

.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color2);
  padding: 32px 0;
  display: block;
  transition: color var(--transform-time);
}

.header-link:hover {
  color: var(--color1);
}

.header-link:focus {
  color: var(--color1);
}

.current {
  color: var(--color1);
  position: relative;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 2px;
}

.header-contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color6);
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color var(--transform-time);
}

.header-contact:hover {
  color: var(--color1);
}

.header-contact:focus {
  color: var(--color1);
}

.envelope,
.smartphone {
  flex-direction: column;
  margin-right: 10px;
  fill: currentColor;
}
/*------------HEADER (INDEX & PORTFOLIO)-----------*/

/*------------MAIN (INDEX)------------*/

/* -----------CAP----------- */
.main-sctn-one {
  text-align: center;
  background-color: #c4c4c4;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../picture/comand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.one-capital {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color4);
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  font-style: inherit;
  background-color: var(--color1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color4);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transform-time);
}

.main-button:focus {
  background-color: var(--color3);
}

.main-button:hover {
  background-color: var(--color3);
}
/* -----------CAP----------- */

/* -----------FEATURES----------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color2);
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.features-link {
  width: calc((100% - (3 * var(--card-gap))) / 4);
}

.features-link:not(:nth-last-child(-n + 4)) {
  margin-bottom: var(--card-gap);
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--color7);
  margin-bottom: var(--card-gap);
}

.features-icon svg {
  width: 70px;
  height: 70px;
}

.features .three-capital-features {
  margin-bottom: 10px;
}

.three-capital-features {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color2);
}

.main-paragraph-features {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* -----------FEATURES----------- */

/* ------------WhatWeDo---------- */

.main-sctn-three {
  padding-top: 0;
}

.wwd {
  display: flex;
}

.wwd > .wwd-item + .wwd-item {
  margin-left: var(--card-gap);
}

.label-item {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color4);
}
/* ------------WhatWeDo---------- */
/* ---------Our team--------- */

.maun-sctn-four {
  background-color: var(--color7);
}

.team-set {
  display: flex;
}

.team-card {
  width: calc((100% - (3 * var(--card-gap))) / 4);
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color4);
}

.team-card:not(:nth-last-child(4)) {
  margin-left: var(--card-gap);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.maun-sctn-four .three-capital-team {
  margin-bottom: 10px;
  text-align: center;
}

.maun-sctn-four .main-paragraph-team {
  text-align: center;
}

.network-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ni-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.main-icon .ni-item {
  color: var(--color8);
  transition: color var(--transform-time), background-color var(--transform-time);
}

.ni-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.main-icon .ni-item:hover,
.main-icon .ni-item:focus {
  color: var(--color4);
  background-color: var(--color1);
}
/* ---------Our team--------- */
.two-capital {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color2);
  margin-bottom: 50px;
}

.three-capital-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color2);
}

.main-paragraph-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/* -----MAIN-CLIENTS------ */
.client-sumbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  border: 1px solid var(--color8);
  border-radius: 4px;
  color: var(--color8);
  transition: color var(--transform-time);
}

.client-icon {
  fill: currentColor;
}

.main-client {
  width: calc(100% - (5 * var(--card-gap)) / 6);
  height: 92px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: var(--card-gap);
}

.client-sumbol:hover,
.client-sumbol:focus {
  border: 1px solid var(--color1);
  border-radius: 4px;
  color: var(--color1);
}

/*-------MAIN (INDEX)-------*/

/*------------MAIN (PORTFOLIO)------------*/

.main-button-port,
.secondary {
  font-family: 'Roboto', sans-serif;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--color2);
  padding: 6px 22px;
  background-color: var(--color7);
  border-radius: 4px;
  border: none;
  transition: color var(--transform-time), background-color var(--transform-time);
}

.main-button-port .secondary:hover {
  color: var(--color4);
  background-color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button-port .secondary:focus {
  color: var(--color4);
  background-color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter.list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter .item + .item {
  margin-left: 8px;
}

.main-button-port.secondary:hover,
.main-button-port.secondary:focus {
  color: var(--color4);
  background-color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------BUTTON-------- */
/* -----------CARDS--------- */

.examples-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.card-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}

.examples-cards > .item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.work-examples .three-capital-cards {
  margin-bottom: 4px;
}

.work-examples .link {
  display: block;
}

.work-examples .link:hover,
.work-examples .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.three-capital-cards {
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color2);
}

.main-paragraph-cards {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.leaving-item:hover .leaving-text {
  transform: translateY(0);
}

.card-img {
  position: relative;
  overflow: hidden;
}

.leaving-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.03em;
  color: var(--color4);
  background-color: var(--leaving-text);
  transform: translateY(100.15%);
  transition: transform var(--transform-time);
  overflow: auto;
}
/*------------MAIN (PORTFOLIO)------------*/

/*-------FOOTER (INDEX & PORTFOLIO)-----*/

footer {
  background-color: var(--color5);
  padding: 60px 0;
  display: flex;
}

.bottom .footer-logotip {
  display: block;
  margin-bottom: 20px;
}

.bottom-panel .item + .item {
  margin-top: 9px;
}

footer .bottom {
  display: flex;
}

.footer-logotip {
  text-decoration: none;
  font-family: var(--font-family2);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color1);
}

.footer-logotip-two {
  font-family: var(--font-family2);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.footer-link-city {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color4);
  transition: color var(--transform-time);
}

.footer-link-city:hover,
.footer-link-city:focus {
  color: var(--color1);
}

.footer-link-connection {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transform-time);
}

.footer-link-connection:hover,
.footer-link-connection:focus {
  color: var(--color1);
}

/* ------------COLUM-TWO---------- */

.footer-networks {
  min-width: 206px;
  min-height: 80px;
  margin-top: 12px;
  margin-left: 70px;
}

.footer-networks {
  min-width: 206px;
  min-height: 80px;
  margin-top: 12px;
  margin-left: 70px;
}
.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color4);
}
.footer-ni .ni-item {
  color: var(--color4);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--transform-time), background-color var(--transform-time);
}

.footer-ni .ni-item:hover,
.footer-ni .ni-item:focus {
  background-color: var(--color1);
}

/* --------FOOTER-FORm--------------- */

.footer-subscribe {
    width: 570px;
    margin-left: auto;
    margin-top: 12px;
}

.footer-mailing {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color4);
    margin-bottom: 20px;
}

.footer-form {
    position: relative;
    display: flex;
}

.footer-field {
    display: inline-block;
    flex-grow: 1;
    
}

.footer-mail {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  border-radius: 4px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color1);
    position: relative;
    padding: 10px 62px 10px 28px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--color4);
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}



.footer-icon {
    fill: var(--color4);
    margin-left: 10px;
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}

    /* --------FOOTER-FORm--------------- */

/*-------FOOTER (INDEX & PORTFOLIO)-----*/

/* ---------Modal Window--------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transform-time), visibility var(--transform-time);
}

.backdrop.is-hidden .modal-window {
  transform: translate(0, 0) scale(0);
}

.modal-window {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--color4);
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transform-time);
  padding: 40px 39px 40px 41px;
}

.modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color4);
  cursor: pointer;
}

.modal-icon {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

/* ---------MODAL-FORM------- */
.modal-form {
  width: 448px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: center;
}

.modal-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 2px 11px 42px;
  align-items: center;
  transition: border var(--transform-time);
}

.label {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill var(--transform-time);
}

.comment-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: inherit;
  margin-bottom: 20px;
  transition: border var(--transform-time);
}

.comment-textarea::placeholder {
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01;
}
.comment-textarea:focus,
.modal-input:focus {
  outline: none;
}

.agreement {
  align-items: center;
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

.agreement-link {
  color: var(--color1);
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  color: var(--color4);
  border: 2px solid var(--color2);
  border-radius: 2px;
  transition: color var(--transform-time), background-color var(--transform-time);
}

.visuall-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement-checkmark {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  fill: white;
  border: 2px solid var(--color2);
  border-radius: 2px;
  transition: color var(--transform-time), background-color var(--transform-time);
}

.checkbox:checked + .agreement-checkmark {
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border-color: var(--color1);
  background-color: var(--color1);
  background-image: url(../picture/icon-check.svg);
}


.modal-label:focus-within > .form-icon {
  fill: var(--color1);
}
.modal-input:focus-within {
  border: 1px solid var(--color1);
}
.comment-textarea:focus-within {
  border: 1px solid var(--color1);
}

.form-button {
  width: 200px;
  padding: 10px 55px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color4);
  transition: color var(--transform-time), background-color var(--transform-time),
    box-shadow var(--transform-time);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
