/*---------------HEADER (INDEX & PORTFOLIO)----------------*/
/* --------------BOX---------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 2px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-header {
  display: flex;
  margin-left: 93px;
}

.site-header .item:not(:last-child) {
  margin-right: 50px;
}

.site-header .header-link .header-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.contact-header {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
}

.contact-header .item + .item {
  margin-left: 50px;
}

/* --------------BOX---------------- */

.header-logotip {
  text-decoration: none;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color1);
}

.header-logotip-two {
  color: #000000;
}

.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color2);
  padding: 32px 0;
  display: block;
  transition: color var(--transform-time);
}

.header-link:hover {
  color: var(--color1);
}

.header-link:focus {
  color: var(--color1);
}

.current {
  color: var(--color1);
  position: relative;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color1);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 2px;
}

.header-contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color6);
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color var(--transform-time);
}

.header-contact:hover {
  color: var(--color1);
}

.header-contact:focus {
  color: var(--color1);
}

.envelope,
.smartphone {
  flex-direction: column;
  margin-right: 10px;
  fill: currentColor;
}
/*------------HEADER (INDEX & PORTFOLIO)-----------*/
