/*------------MAIN (INDEX)------------*/

/* -----------CAP----------- */
.main-sctn-one {
  text-align: center;
  background-color: #c4c4c4;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../picture/comand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.one-capital {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color4);
  margin-bottom: 30px;
  text-transform: uppercase;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  font-style: inherit;
  background-color: var(--color1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color4);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transform-time);
  &:focus {
    background-color: var(--color3);
  }
  &:hover {
    background-color: var(--color3);
  }
}

/* -----------CAP----------- */

/* -----------FEATURES----------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color2);
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.features-link {
  width: calc((100% - (3 * var(--card-gap))) / 4);
  &:not(:nth-last-child(-n + 4)) {
    margin-bottom: var(--card-gap);
  }
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--color7);
  margin-bottom: var(--card-gap);
  svg {
    width: 70px;
    height: 70px;
  }
}

.three-capital-features {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color2);
  .features & {
    margin-bottom: 10px;
  }
}

.main-paragraph-features {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* -----------FEATURES----------- */

/* ------------WhatWeDo---------- */

.main-sctn-three {
  padding-top: 0;
}

.wwd {
  display: flex;
}

.wwd > .wwd-item + .wwd-item {
  margin-left: var(--card-gap);
}

.label-item {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color4);
}
/* ------------WhatWeDo---------- */
/* ---------Our team--------- */

.maun-sctn-four {
  background-color: var(--color7);
}

.team-set {
  display: flex;
}

.team-card {
  width: calc((100% - (3 * var(--card-gap))) / 4);
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color4);
  &:not(:nth-last-child(4)) {
    margin-left: var(--card-gap);
  }
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.maun-sctn-four .three-capital-team {
  margin-bottom: 10px;
  text-align: center;
}

.maun-sctn-four .main-paragraph-team {
  text-align: center;
}

.network-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ni-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.main-icon .ni-item {
  color: var(--color8);
  transition: color var(--transform-time), background-color var(--transform-time);
  &:hover,
  &:focus {
    color: var(--color4);
    background-color: var(--color1);
  }
}

.ni-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* ---------Our team--------- */
.two-capital {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color2);
  margin-bottom: 50px;
}

.three-capital-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color2);
}

.main-paragraph-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/* -----MAIN-CLIENTS------ */
.client-sumbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  border: 1px solid var(--color8);
  border-radius: 4px;
  color: var(--color8);
  transition: color var(--transform-time);
  &:hover,
  &:focus {
    border: 1px solid var(--color1);
    border-radius: 4px;
    color: var(--color1);
  }
}

.client-icon {
  fill: currentColor;
}

.main-client {
  width: calc(100% - (5 * var(--card-gap)) / 6);
  height: 92px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: var(--card-gap);
}

/*-------MAIN (INDEX)-------*/
