.main-sctn-three {
  padding-top: 0;
}

.wwd {
  display: flex;
}

.wwd > .wwd-item + .wwd-item {
  margin-left: var(--card-gap);
}

.label-item {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color4);
}